<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zlt.lawyer.mapper.OfficeLawyerMapper">
    <select id="findList" resultType="com.zlt.lawyer.model.OfficeLawyer">
        select * from cus_org_lawyer t
        order by t.id desc
    </select>
</mapper>
